$mobile: new-breakpoint(max-width 480px 4);


//Positioning Mixins

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


//Global layout styles
body{
  width: 100%;
}

//Navigation layout
header{
  background-color: $primary-grey;
  width: 100%;
  height: 12em;
  a{
    margin: 1.5em 1.5em;
    padding-top: 1em;
  }
  nav{
    @include vertical-align;
    text-align: center;
  }
  .header-logo{
    margin: 0 auto 1em;
    display: block;
  }
}

//Deals with positioning on top intro image

.content-block-center{
  @include outer-container;
}

.page-head{
  $image-gradient-color-top: teal;
  $transparency-top: .6;
  $image-gradient-color-bottom: purple;
  $transparency-bottom: .6;
  $vertical-angle: 180deg;

  $image-gradient-color-left: purple;
  $transparency-left: .9;
  $image-gradient-color-right: yellow;
  $transparency-right: .8;
  $horizontal-angle: 90deg;

  @include background-image(url("../img/top-bg.jpg"));
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 12em 0 12em 0;
  position: relative;
  width: 100%;
  display: table;
  height: 30em;
    img{
      width: 100%;
    }
    h1{
      @include span-columns(12);
      @include media($mobile) {
        @include type(2);
        }
      @include vertical-align;
      text-align: center;
      color: #FFF;
      z-index: 999;
    }
    p{
      @include span-columns(8);
      @include shift(2);
        @include media($mobile) {
        @include span-columns(4);
        @include shift(0);
      }
      padding: 1em 2em;
      position: relative;
      color: white;
      font-weight: 800;
      background-color: transparentize(black, .8);
      z-index: 999;
      }
    //color overlay shiz
    .overlay {
      @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top),
      transparentize($image-gradient-color-bottom, $transparency-bottom));
      display: block;
      @include position(absolute, 0px 0px 0px 0px);

      &:after {
        content: '';
        @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left),
          transparentize($image-gradient-color-right, $transparency-right));
        display: block;
        @include position(absolute, 0px 0px 0px 0px);
    }
  }


}

.clients{
    @include outer-container;
    height: 25em;
    padding-top: 1.5em;
  }

$clients: billabong, stance, rvca, electric;

.client-box {
   // client div properties
   background-size: 100%;
   margin-top: 1em;

   // client setup
   @each $client in $clients {
        &.#{$client} {
             background-image:url("../img/clients/#{$client}.jpg");
             background-size: 100%;
             @include span-columns(3);
             @include media($mobile) {
              @include span-columns(2);
              }
             height: 15em;
             background-position: cover;
             background-repeat: no-repeat;
             content: "";
             &:hover{
              background-color: darken($muted-yellow, 10);
             }
        }
   }
 }

