doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    title.
      Blacksmith MFG
    meta(name = "description" content="Blacksmith MFG is a boutique product development and offshore manufacturing partner.")
    meta(name = "viewport" content="width=device-width, initial-scale=1")
    link(rel = "stylesheet" href="css/main.css")
  body
      header
        nav(role="navigation")
          img(src="img/bsmfg-logo-icon.svg" alt="Blacksmith Logo" class="header-logo" height="100px")
          a(href="#") Process
          a(href="#") Design
          a(href="#") Manufacturing
          a(href="#") Logistics
          a(href="#") Quality
          a(href="#") Contact

      section(class="page-head")
        div(class="content-block-center")
          h1(class="title") Blacksmith MFG
          p.
            Bacon ipsum dolor sit amet swine rump andouille ground round shoulder pork ribeye short ribs. Leberkas shankle brisket flank capicola jerky, ground round short loin. Doner jerky meatloaf bacon kielbasa.
        div(class="overlay")

      section(class="clients")
        h1(class="section-title") Our Clients
        div(class="client-box electric")
          //- p Electric
        div(class="client-box rvca")
          //- p RVCA
        div(class="client-box billabong")
          //- p Billabong
        div(class="client-box stance")
          //- p Stance
